*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper{
  width: 500px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: auto;
}
li{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}